@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import "tailwindcss";

:root {
/*  --bg-primary: #10172a;
  --bg-secondary: #1e293b;
  --bg-tertiary: #334155;
  --text-primary: #00ADB5;
  --text-secondary: #94a3b8;
  --accent-primary: #38bdf8;
  --accent-hover: #0ea5e9;
  --border-primary: #334155;
  --success: #22c55e;
  --warning: #f59e0b;
  --error: #ef4444;
*/


  --bg-primary: #000000;
  --bg-secondary: #151515;
  --bg-tertiary: #334155;
  --text-primary: #FFFFFF;
  --text-secondary: #94a3b8;
  --accent-primary: #38bdf8;
  --accent-hover: #0ea5e9;
  --border-primary: #1e293b;
  --success: #22c55e;
  --warning: #f59e0b;
  --error: #ef4444;
}

.light {
		/* --bg-primary: #ffffff;
  --bg-secondary: #f8fafc;
  --bg-tertiary: #e2e8f0;
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --accent-primary: #0284c7;
  --accent-hover: #0369a1;
  --border-primary: #cbd5e1;
  --success: #16a34a;
  --warning: #d97706;
  --error: #dc2626;
*/

  --bg-primary: #BFC6C4;
  --bg-secondary: #E8E2D8;
  --bg-tertiary: #e2e8f0;
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --accent-primary: #0284c7;
  --accent-hover: #0369a1;
  --border-primary: #6F8F72;
  --success: #16a34a;
  --warning: #d97706;
  --error: #dc2626;
}

.theme_applier {
  min-height: 100vh;
  background: var(--bg-primary);
  color: var(--text-primary);
}
